
<div class="jumbotron">
   <div class="wrapper">
    <div class="container">
      <h1>Type Something Here</h1>
      <p>Type Something Here</p>
      <button type="button" class="btn btn-default">Shop now </button>
    </div>
  </div>
</div>

<section class="container">
  <div class="row row-flex-container">
      <div class="col-md-6 col-flex-item vertical-divider">
        <h1>Planner Sticker</h1>
        <p>daily sticker planner. Half box weekend banners, and
        header planner stickers for your MAMBI Happy Planner.</p>
        <button class="btn btn-lg btn-default">View Designs<i></i></button>
      </div>
      <div class="col-md-6 col-flex-item">
        <div class="images"></div>
      </div>
  </div>
  <div class="row row-flex-container">
      <div class="col-md-6 col-flex-item">
        <div class="images"></div>
      </div>
      <div class="col-md-6 col-flex-item vertical-divider">
        <h1>Planner Sticker</h1>
        <p>daily sticker planner. Half box weekend banners, and
        header planner stickers for your MAMBI Happy Planner.</p>
        <button class="btn btn-lg btn-default">View Designs<i></i></button>
      </div>
  </div>
</section>


<section class="product-container">
  <div class="row products-wrapper">
    <div class="col-md-12">
      <h1 class="product-title">New Products</h1>
    </div>
    <div class="col-md-4 new-product">
      <div class="product-images"></div>
      <p>Name</p>
      <p>Price   PHP. 50.00</p>
    </div>
    <div class="col-md-4 new-product">
      <div class="product-images"></div>
      <p>Name</p>
      <p>Price   PHP. 50.00</p>
    </div>
    <div class="col-md-4 new-product">
      <div class="product-images"></div>
      <p>Name</p>
      <p>Price   PHP. 50.00</p>
    </div>
  </div>
</section>


<footer class="footer">
    <div class="footer-wrapper">
        <div class="col-md-4 new-product">

        </div>
        <div class="col-md-6 new-product">

        </div>
        <div class="col-md-4 new-product">
          
        </div>
    </div>
</footer>
